<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiAnalysisShareMapper">
    <insert id="save" parameterType="com.business.entity.AnalysisShareVo" useGeneratedKeys="true" keyProperty="companyId">
		insert into analysis_share(
        `user_id`,
        `create_time`     )
		values(
          #{userId},
          now()         )
	</insert>
</mapper>