<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiCompanyMapper">

    <resultMap type="com.business.entity.CompanyVo" id="BaseResultMap">
        <result property="companyId" column="company_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="logo" column="logo"/>
        <result property="scale" column="scale"/>
        <result property="trade" column="trade"/>
        <result property="introduction" column="introduction"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryObject" resultMap="BaseResultMap">
		select * from company_info where company_id = #{value}
	</select>

    <insert id="save" parameterType="com.business.entity.CompanyVo" useGeneratedKeys="true" keyProperty="companyId">
		insert into company_info(
        `name`,
        `address`,
        `phone`,
        `logo`,
        `scale`,
        `trade`,
        `introduction`,
        `create_time`     )
		values(
          #{name},
          #{address},
          #{phone},
          #{logo},
          #{scale},
          #{trade},
          #{introduction},
          now()         )
	</insert>

    <update id="update" parameterType="com.business.entity.CompanyVo">
        update company_info
        <set>
            <if test="name != null">
                `name` = #{name},
            </if>
            <if test="address != null">
                `address` = #{address},
            </if>
            <if test="phone != null">
                `phone` = #{phone},
            </if>
            <if test="logo != null">
                `logo` = #{logo},
            </if>
            <if test="scale != null">
                `scale` = #{scale},
            </if>
            <if test="trade != null">
                `trade` = #{trade},
            </if>
            <if test="introduction != null">
                `introduction` = #{introduction},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime}
            </if>
        </set>
        where company_id = #{companyId}
    </update>

    <select id="queryFileList" resultType="com.business.entity.CompanyFileVo">
        select
        `id`,
        `company_id`,
        `fileurl`,
        `create_time`
        from company_file
        WHERE 1=1
        <if test="companyId != null">
            AND company_id = #{companyId}
        </if>
        order by create_time desc
    </select>

    <insert id="saveFile" parameterType="java.util.List">
        insert into company_file(
        `company_id`,
        `fileurl`,
        `create_time` )
        values
        <foreach collection="fileList" item="item" index="index" separator=",">
            (
            #{item.companyId},
            #{item.fileurl},
            now()
            )
        </foreach>
    </insert>

    <delete id="deleteFile">
		delete from company_file where id = #{value}
	</delete>

    <delete id="deleteFileByCompany">
		delete from company_file where company_id = #{value}
	</delete>


    <select id="queryPost" resultType="com.business.entity.CompanyPostVo">
        select
        `post_id`,
        `company_id`,
        `photo`,
        `name`,
        `position`,
        `mobile`,
        `telephone`,
        `wechat`,
        `email`,
        `profile`,
        `qr_code`,
        `status`,
        `create_time`,
        `update_time`
        from company_post
        WHERE status=0 and post_id = #{value}
    </select>
    <select id="queryPostList" resultType="com.business.entity.CompanyPostVo">
        select
        `post_id`,
        `company_id`,
        `photo`,
        `name`,
        `position`,
        `mobile`,
        `telephone`,
        `wechat`,
        `email`,
        `profile`,
        `qr_code`,
        `status`,
        `create_time`,
        `update_time`
        from company_post
        WHERE status=0
        <if test="companyId != null and companyId != '0'">
            AND company_id = #{companyId}
        </if>
        <if test="postId != null and postId != '0'">
            AND post_id != #{postId}
        </if>
        order by create_time desc
    </select>


    <select id="queryRoom" resultType="com.business.entity.CompanyRoomVo">
        select
	    `room_id`,
	    `company_id`,
	    `name`,
	    `tung`,
	    `floor`,
	    `wifiname`,
	    `wifipass`,
	    `wifimac`,
	    `qrcode`
        from company_room
        WHERE status=0 and room_id = #{value}
    </select>


    <resultMap type="com.business.entity.CompanyServiceVo" id="ServiceMap">
        <id property="companyId" column="company_id"/>
        <id property="serviceClass" column="service_class"/>
        <!-- 描述集合属性 -->
        <collection property="listServiceTag" ofType="String">
            <result property="serviceTag" column="service_tag"/>
        </collection>
    </resultMap>
    <select id="queryServiceGroup" resultMap="ServiceMap">
        select
        company_service.company_id,
        company_service.service_class,
        company_service.service_tag
        from company_service
        left join company_info on company_service.company_id=company_info.company_id
        WHERE company_service.status=0 and company_service.company_id = #{value}
    </select>
    <select id="queryServiceList" resultType="com.business.entity.CompanyServiceVo">
        select
	    `service_id`,
	    `company_id`,
	    `service_class`,
	    `service_tag`
        from company_service
        WHERE status=0 and company_id = #{value}
        <if test="serviceClass != null and serviceClass != '0'">
            AND service_class != #{serviceClass}
        </if>
    </select>
</mapper>