<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiCardRecordMapper">

    <resultMap type="com.business.entity.CardRecordVo" id="BaseResultMap">
        <result property="recordId" column="record_id"/>
        <result property="userId" column="user_id"/>
        <result property="touserId" column="touser_id"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="queryByToUserId"  resultType="com.business.entity.CardRecordVo">
        select * from card_record
        WHERE user_id=#{userId} and touser_id=#{touserId}
    </select>

    <select id="queryList" resultType="com.business.entity.CardRecordVo">
        select user_id,touser_id,create_time,
        (select name from customer_company where customer_company.company_id=(select company_id from card_user where card_user.user_id=card_record.touser_id)) as touserComName,
        (select openid from customer_user where customer_user.user_id=card_record.touser_id) as openid,
        (select photo from card_user where card_user.user_id=card_record.touser_id) as touserAvatar,
        (select realname from card_user where card_user.user_id=card_record.touser_id) as touserName
        from card_record
        WHERE user_id=#{userId}
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by record_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from card_record
        WHERE user_id=#{userId}
    </select>

    <insert id="save" parameterType="com.business.entity.CardRecordVo" useGeneratedKeys="true" keyProperty="recordId">
		insert into card_record(
        `user_id`,
        `touser_id`,
        `create_time`     )
		values(
          #{userId},
          #{touserId},
          now()         )
	</insert>

    <update id="updateTime">
        update card_record set create_time = now() where record_id = #{value}
    </update>

    <delete id="delete">
		delete from card_record where record_id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from card_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>