<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiCardRecordMapper">

    <select id="queryByToUserId"  resultType="com.business.entity.CardRecordVo">
        select * from card_record
        WHERE card_id=#{cardId} and touser_id=#{touserId} order by create_time limit 1
    </select>

    <select id="queryList" resultType="com.business.entity.CardRecordVo">
        select user_id,touser_id,
        (select name from company_info where company_info.company_id=(select company_id from card_user where card_user.user_id=card_record.touser_id)) as touserComName,
        (select openid from member_user where member_user.user_id=card_record.touser_id) as openid,
        (select photo from card_user where card_user.user_id=card_record.touser_id) as touserAvatar,
        (select realname from card_user where card_user.user_id=card_record.touser_id) as touserName
        from card_record
        WHERE user_id=#{userId}
        group by touser_id
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from card_record
        WHERE user_id=#{userId}
    </select>

    <insert id="save" parameterType="com.business.entity.CardRecordVo" useGeneratedKeys="true" keyProperty="recordId">
		insert into card_record(
        `user_id`,
        `touser_id`,
        `create_time`     )
		values(
          #{userId},
          #{touserId},
          now()         )
	</insert>

    <update id="updateTime">
        update card_record set create_time = now() where record_id = #{value}
    </update>

    <delete id="delete">
		delete from card_record where record_id = #{value}
	</delete>

    <delete id="deleteBatch">
        delete from card_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
</mapper>