<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiServiceRoomMapper">

    <resultMap type="com.business.entity.ServiceRoomVo" id="BaseResultMap">
        <result property="serviceId" column="service_id"/>
        <result property="companyId" column="company_id"/>
        <result property="roomId" column="room_id"/>
        <result property="roomName" column="roomName"/>
        <result property="userId" column="user_id"/>
        <result property="serviceClass" column="service_class"/>
        <result property="serviceTag" column="service_tag"/>
        <result property="remark" column="remark"/>
        <result property="appointmentTime" column="appointment_time"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
	    `service_id`,
	    `company_id`,
	    `room_id`,
	    (select name from company_room where company_room.room_id=service_room.room_id) as roomName,
	    `user_id`,
	    `service_class`,
	    `service_tag`,
	    `remark`,
	    `appointment_time`,
	    `status`,
	    `create_time`,
	    `update_time`
  	</sql>

    <select id="queryObject" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from service_room where service_id = #{value}
    </select>

    <select id="queryList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from service_room
        WHERE company_id=#{companyId}
        <if test="serviceClass != null and serviceClass.trim() != ''">
            AND service_class=#{serviceClass}
        </if>
        <if test="status != null">
            AND status=#{status}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by service_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select count(*) from service_room
        WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND name LIKE concat('%',#{name},'%')
        </if>
    </select>

    <insert id="save" parameterType="com.business.entity.ServiceRoomVo" useGeneratedKeys="true" keyProperty="serviceId">
		insert into service_room(
          `service_id`,
          `company_id`,
          `room_id`,
          `user_id`,
          `service_class`,
          `service_tag`,
          `remark`,
          `appointment_time`,
          `status`,
          `create_time`,
          `update_time`        )
		values(
          #{serviceId},
          #{companyId},
          #{roomId},
          #{userId},
          #{serviceClass},
          #{serviceTag},
          #{remark},
          #{appointmentTime},
          #{status},
          #{createTime},
          #{updateTime}         )
	</insert>

    <update id="update" parameterType="com.business.entity.ServiceRoomVo">
        update service_room
        <set>
            <if test="companyId != null">
                `company_id` = #{companyId},
            </if>
            <if test="roomId != null">
                `room_id` = #{roomId},
            </if>
            <if test="userId != null">
                `user_id` = #{userId},
            </if>
            <if test="serviceClass != null">
                `service_class` = #{serviceClass},
            </if>
            <if test="serviceTag != null">
                `service_tag` = #{serviceTag},
            </if>
            <if test="remark != null">
                `remark` = #{remark},
            </if>
            <if test="appointmentTime != null">
                `appointment_time` = #{appointmentTime},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime}
            </if>
        </set>
        where service_id = #{serviceId}
    </update>


    <insert id="saveLog" parameterType="com.business.entity.ServiceRoomLogVo">
		insert into service_room_log(
          `log_id`,
          `service_id`,
          `staff_id`,
          `status`,
          `remark`,
          `create_time`        )
		values(
          #{logId},
          #{serviceId},
          #{staffId},
          #{status},
          #{remark},
          #{createTime}         )
	</insert>

    <select id="queryLogList" resultType="com.business.entity.ServiceRoomLogVo">
        select
        `log_id`,
        `service_id`,
        `staff_id`,
	    (select name from company_staff where company_staff.staff_id=service_room_log.staff_id) as staffName,
        `status`,
        `remark`,
        `create_time`
        from service_room_log
        WHERE status!=0 and service_id=#{value}
    </select>
</mapper>