<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.business.dao.ApiUserMapper">

	<resultMap type="com.business.entity.UserVo" id="BaseResultMap">
		<result property="userId" column="user_id"/>
		<result property="mobile" column="mobile"/>
		<result property="unionid" column="unionid"/>
		<result property="openidGzh" column="openid_gzh"/>
		<result property="openidXcx" column="openid_xcx"/>
		<result property="nickname" column="nickname"/>
		<result property="sex" column="sex"/>
		<result property="province" column="province"/>
		<result property="city" column="city"/>
		<result property="country" column="country"/>
		<result property="language" column="language"/>
		<result property="headimgurl" column="headimgurl"/>
		<result property="subscribe" column="subscribe"/>
		<result property="subscribeTime" column="subscribe_time"/>
		<result property="subscribeScene" column="subscribe_scene"/>
		<result property="remark" column="remark"/>
		<result property="groupid" column="groupid"/>
		<result property="tagidList" column="tagid_list"/>
		<result property="qrScene" column="qr_scene"/>
		<result property="qrSceneStr" column="qr_scene_str"/>
		<result property="createTime" column="create_time"/>
		<result property="updateTime" column="update_time"/>
	</resultMap>

	<sql id="Base_Column_List">
	    `user_id`,
	    `mobile`,
	    `unionid`,
	    `openid_gzh`,
	    `openid_xcx`,
	    `nickname`,
	    `sex`,
	    `province`,
	    `city`,
	    `country`,
	    `language`,
	    `headimgurl`,
	    `subscribe`,
	    `subscribe_time`,
	    `subscribe_scene`,
	    `remark`,
	    `groupid`,
	    `tagid_list`,
	    `qr_scene`,
	    `qr_scene_str`,
	    `create_time`,
	    `update_time`
  	</sql>
	<select id="queryByUnionId" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		where unionid = #{value}
	</select>

	<select id="queryByOpenIdGzh" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		where `openid_gzh` = #{value}
	</select>

	<select id="queryByOpenIdXcx" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		where `openid_xcx` = #{value}
	</select>

	<select id="queryByMobile" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		where `mobile` = #{value}
	</select>

	<select id="queryObject" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		where user_id = #{value}
	</select>

	<select id="queryList" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from user_account
		WHERE 1=1
		<if test="nickname != null and nickname.trim() != ''">
			AND nickname LIKE concat('%',#{nickname},'%')
		</if>
		<choose>
			<when test="sidx != null and sidx.trim() != ''">
				order by ${sidx} ${order}
			</when>
			<otherwise>
				order by user_id desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="queryTotal" resultType="int">
		select count(*) from user_account
		WHERE 1=1
		<if test="name != null and name.trim() != ''">
			AND name LIKE concat('%',#{name},'%')
		</if>
	</select>

	<insert id="save" parameterType="com.business.entity.UserVo" useGeneratedKeys="true" keyProperty="userId">
		insert into user_account(
	    `mobile`,
	    `unionid`,
	    `openid_gzh`,
	    `openid_xcx`,
	    `nickname`,
	    `sex`,
	    `province`,
	    `city`,
	    `country`,
	    `language`,
	    `headimgurl`,
	    `subscribe`,
	    `subscribe_time`,
	    `subscribe_scene`,
	    `remark`,
	    `groupid`,
	    `tagid_list`,
	    `qr_scene`,
	    `qr_scene_str`,
	    `create_time`)
		values(
	    #{mobile},
	    #{unionid},
	    #{openidGzh},
	    #{openidXcx},
	    #{nickname},
	    #{sex},
	    #{province},
	    #{city},
	    #{country},
	    #{language},
	    #{headimgurl},
	    #{subscribe},
	    #{subscribeTime},
	    #{subscribeScene},
	    #{remark},
	    #{groupid},
	    #{tagidList},
	    #{qrScene},
	    #{qrSceneStr},
        now())
	</insert>

	<update id="update" parameterType="com.business.entity.UserVo">
		update user_account
		<set>
			<if test="mobile != null">
				`mobile` = #{mobile},
			</if>
			<if test="unionid != null">
				`unionid` = #{unionid},
			</if>
			<if test="openidGzh != null">
				`openid_gzh` = #{openidGzh},
			</if>
			<if test="openidXcx != null">
				`openid_xcx` = #{openidXcx},
			</if>
			<if test="nickname != null">
				`nickname` = #{nickname},
			</if>
			<if test="sex != null">
				`sex` = #{sex},
			</if>
			<if test="province != null">
				`province` = #{province},
			</if>
			<if test="city != null">
				`city` = #{city},
			</if>
			<if test="country != null">
				`country` = #{country},
			</if>
			<if test="language != null">
				`language` = #{language},
			</if>
			<if test="headimgurl != null">
				`headimgurl` = #{headimgurl},
			</if>
			<if test="subscribe != null">
				`subscribe` = #{subscribe},
			</if>
			<if test="subscribeTime != null">
				`subscribe_time` = #{subscribeTime},
			</if>
			<if test="subscribeScene != null">
				`subscribe_scene` = #{subscribeScene},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="groupid != null">
				`groupid` = #{groupid},
			</if>
			<if test="tagidList != null">
				`tagid_list` = #{tagidList},
			</if>
			<if test="qrScene != null">
				`qr_scene` = #{qrScene},
			</if>
			<if test="qrSceneStr != null">
				`qr_scene_str` = #{qrSceneStr},
			</if>
			<if test="updateTime != null">
				`update_time` = #{updateTime}
			</if>
		</set>
		where user_id = #{userId}
	</update>

	<update id="updateByOpenIdXcx" parameterType="com.business.entity.UserVo">
		update user_account
		<set>
			<if test="mobile != null">
				`mobile` = #{mobile},
			</if>
			<if test="unionid != null">
				`unionid` = #{unionid},
			</if>
			<if test="openidGzh != null">
				`openid_gzh` = #{openidGzh},
			</if>
			<if test="nickname != null">
				`nickname` = #{nickname},
			</if>
			<if test="sex != null">
				`sex` = #{sex},
			</if>
			<if test="province != null">
				`province` = #{province},
			</if>
			<if test="city != null">
				`city` = #{city},
			</if>
			<if test="country != null">
				`country` = #{country},
			</if>
			<if test="language != null">
				`language` = #{language},
			</if>
			<if test="headimgurl != null">
				`headimgurl` = #{headimgurl},
			</if>
			<if test="subscribe != null">
				`subscribe` = #{subscribe},
			</if>
			<if test="subscribeTime != null">
				`subscribe_time` = #{subscribeTime},
			</if>
			<if test="subscribeScene != null">
				`subscribe_scene` = #{subscribeScene},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="groupid != null">
				`groupid` = #{groupid},
			</if>
			<if test="tagidList != null">
				`tagid_list` = #{tagidList},
			</if>
			<if test="qrScene != null">
				`qr_scene` = #{qrScene},
			</if>
			<if test="qrSceneStr != null">
				`qr_scene_str` = #{qrSceneStr},
			</if>
			<if test="updateTime != null">
				`update_time` = #{updateTime}
			</if>
		</set>
		where openid_xcx = #{openidXcx}
	</update>

	<update id="updateByOpenIdGzh" parameterType="com.business.entity.UserVo">
		update user_account
		<set>
			<if test="mobile != null">
				`mobile` = #{mobile},
			</if>
			<if test="unionid != null">
				`unionid` = #{unionid},
			</if>
			<if test="openidXcx != null">
				`openid_xcx` = #{openidXcx},
			</if>
			<if test="nickname != null">
				`nickname` = #{nickname},
			</if>
			<if test="sex != null">
				`sex` = #{sex},
			</if>
			<if test="province != null">
				`province` = #{province},
			</if>
			<if test="city != null">
				`city` = #{city},
			</if>
			<if test="country != null">
				`country` = #{country},
			</if>
			<if test="language != null">
				`language` = #{language},
			</if>
			<if test="headimgurl != null">
				`headimgurl` = #{headimgurl},
			</if>
			<if test="subscribe != null">
				`subscribe` = #{subscribe},
			</if>
			<if test="subscribeTime != null">
				`subscribe_time` = #{subscribeTime},
			</if>
			<if test="subscribeScene != null">
				`subscribe_scene` = #{subscribeScene},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="groupid != null">
				`groupid` = #{groupid},
			</if>
			<if test="tagidList != null">
				`tagid_list` = #{tagidList},
			</if>
			<if test="qrScene != null">
				`qr_scene` = #{qrScene},
			</if>
			<if test="qrSceneStr != null">
				`qr_scene_str` = #{qrSceneStr},
			</if>
			<if test="updateTime != null">
				`update_time` = #{updateTime}
			</if>
		</set>
		where openid_gzh = #{openidGzh}
	</update>

	<update id="updateByUnionId" parameterType="com.business.entity.UserVo">
		update user_account
		<set>
			<if test="mobile != null">
				`mobile` = #{mobile},
			</if>
			<if test="openidGzh != null">
				`openid_gzh` = #{openidGzh},
			</if>
			<if test="openidXcx != null">
				`openid_xcx` = #{openidXcx},
			</if>
			<if test="nickname != null">
				`nickname` = #{nickname},
			</if>
			<if test="sex != null">
				`sex` = #{sex},
			</if>
			<if test="province != null">
				`province` = #{province},
			</if>
			<if test="city != null">
				`city` = #{city},
			</if>
			<if test="country != null">
				`country` = #{country},
			</if>
			<if test="language != null">
				`language` = #{language},
			</if>
			<if test="headimgurl != null">
				`headimgurl` = #{headimgurl},
			</if>
			<if test="subscribe != null">
				`subscribe` = #{subscribe},
			</if>
			<if test="subscribeTime != null">
				`subscribe_time` = #{subscribeTime},
			</if>
			<if test="subscribeScene != null">
				`subscribe_scene` = #{subscribeScene},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="groupid != null">
				`groupid` = #{groupid},
			</if>
			<if test="tagidList != null">
				`tagid_list` = #{tagidList},
			</if>
			<if test="qrScene != null">
				`qr_scene` = #{qrScene},
			</if>
			<if test="qrSceneStr != null">
				`qr_scene_str` = #{qrSceneStr},
			</if>
			<if test="updateTime != null">
				`update_time` = #{updateTime}
			</if>
		</set>
		where unionid = #{unionid}
	</update>
</mapper>